.brand {
    display: flex;
    padding-top: 10px;
    align-items: center;
    background-color: black;
    justify-content: center;
  }

.brand__titulo{

    color: white;

    padding-bottom: 15px;
}

.controlador{
    width: 50px;
    margin-left: 50px;
}