.juegos{

    border-color: gray;
  border-width: 1px;
  border-style: dotted;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 15px;


}

.imagenJuego{
    width: 250px;
    height: 300px;
}