.buscador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}
  
.buscador {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}